nav {
    background-color: rgb(255, 105, 35);
    display: flex;
    height: 5%;
    align-items: center;
    padding-left: 10em;
}

.nav_list {
    list-style-type: none;
    display: flex;
    
}

.nav_item {
    margin-right: 1em;
    
}

.nav_item a {
    color: white;
    text-decoration: none;
}

.nav_item a:hover {
    color: rgb(70, 56, 50);
    text-decoration: none;
}
